#map{
    height: 720px;
    width: 1280px;
    margin:  0% 1% 1% 3%;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    font-family: "Roboto","sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#btn1{
    background-color: aqua;
    color: white;
}
#btn2{
    background-color: aqua;
    color: white;
}
